<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
		<section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
	</configSections>

	<Logging Threshold="ERROR" />

	<MsmqTransportConfig InputQueue="WebHookModule.Processor.Queue" ErrorQueue="WebHookModule.Processor.ErrorQueue" NumberOfWorkerThreads="1" MaxRetries="5" />

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>