<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<UnicastBusConfig>
		<MessageEndpointMappings>
			<add Messages="WebHookModule.Messages.CompletedMessage, WebHookModule.Messages" Endpoint="WebHookModule.Scheduler.Queue" />
		</MessageEndpointMappings>
	</UnicastBusConfig>
	<connectionStrings></connectionStrings>
</configuration>